{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}<title>{% trans "Avis" %}</title>{% endblock %}
{% block style_page %}
<link rel="stylesheet" href="{% static 'styles/style_avis.css' %}">
{% endblock %}
{% block content %}
<div id="globale">
    <div id="side_container">
        <figure id="avatar_container">
            <img src="/static/avatar.jpg" alt="avatar" id="avatar">
            <figcaption>El Housseine</figcaption>
        </figure>
    </div>
    <div id="container">
        {% if avis %}
        {% for a in avis %}
            <article>
                <h2 class="title">{% trans "Avis de" %} {{ a.prenom }} {{ a.nom }}</h2>
                <p class="note">{% trans "Note:" %} {{ a.note }} / 5</p>
                <p>
                    {{ a.avis }}
                </p>

            </article>
        {% endfor %}
        {% else %}
            <div class="info">{% trans "Pas d'avis encore !" %}</div>
        {% endif %}
    </div>

</div>
{% endblock %}