{% extends "base.html" %}
{% load static %}
{% block title %}<title>Publier</title>{% endblock %}
{% block content %}
<div id="globale">
    <div id="side_container">
        <figure id="avatar_container">
            <img src="/static/avatar.jpg" alt="avatar" id="avatar">
            <figcaption>El Housseine</figcaption>
        </figure>
    </div>
    <div id="container">
        <article id="publier">
            <h2 class="title">Publier un post</h2>
            <form class="row" action="/nouveau-post/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group col-md-6">
                    <label for="titre">Titre :</label>
                    <input type="text" class="form-control" id="titre" name="titre" placeholder="One Piece"
                           {% if titre %} value="{{ titre }}" {% endif %} required>
                </div>
                <div class="form-group col-md-6">
                    <label for="categorie">Categorie :</label>
                    <select class="form-control" id="categorie" name="categorie" required>
                        {% for categ in categories %}
                        <option value="{{ categ.0 }}" {% if categorie == categ.0 %} selected {% endif %}>{{ categ.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="image">Image :</label>
                    <input type="file" id="image" name="image" accept="image/png, image/jpeg"/>
                </div>

                <div class="form-group col-md-6">
                    <label for="image_url">Lien vers une image :</label>
                    <input type="url" id="image_url" name="image_url" accept="image/png, image/jpeg"
                           {% if image_url %} value="{{ image_url }}" {% endif %}/>
                </div>

                <div class="form-group col-md-12">
                    <label for="contenu">Contenu :</label>
                    <textarea class="form-control" id="contenu" name="contenu" rows="4" placeholder="Contenu"
                               required>{% if contenu %}{{ contenu }}{% endif %}</textarea>
                </div>



                <div class="form-group col-md-12">
                    <label for="mdp">Mot de Passe :</label>
                    <input type="text" class="form-control" id="mdp" name="mdp" placeholder="priPiaT22" required>
                </div>

                <div class="form-group col-md-12 text-center">
                    <button type="submit" class="btn btn-primary col-md-4">Publier</button>
                </div>
            </form>
        </article>
    </div>
</div>
{% endblock %}